/* @keyframes turnning{
    0%   {transform: none}
    25%  {transform: skewY(45deg)}
    50%  {transform: skewY(90deg)}
    75%  {transform: skewY(135deg)}
    100% {transform: skewY(180deg)}
} */
/* @keyframes slide{
    0%   {width: 0}

    100% {width: 25%;;}
} */

/* .navbar>*{
    animation: slide 0.7s 1
} */

div .profile{
    border: 2px;
    border-radius: 15px;
    font-family: "微软雅黑";

}


.header{

    color: #919191;
    line-height: 1.5;
    font-size: 20px;
    background-color: white;
    margin-bottom: 20px;

}
.header > *{
    padding: 15px 0;
}
body{
    background: url(../images/image3.jpg);
    background-attachment: fixed;
    background-size: cover;
    line-height: 1.7;
    background-repeat: no-repeat;
    font-family: "微软雅黑";
    margin: 0 0
}


.body{
    float: right;
    width: 80%;

}

.body > *{
/*    background-color: white;
*/    background-color: rgba(255,255,255,0.9);

    margin: 0 20% 40px 10%;
    color: #919191;
    padding: 10px 10px;
    line-height: 1.5;
    font-size: 20px;
}


.hobby{
    margin: 0 20% 40px 10%;
}


.profile .navbar{
    float: left;
    width: 20%;
    
}
.navbar >*{
    border: 2px;
    border-radius: 15px;
    margin: 10% auto;
    width: 30%;
    height: 20%;
    display: block;
    padding: 10% 20%;
}






.head_image{
    margin: 10px auto;
    display: block;
    margin-bottom: 50px;

    border: 2px;
    border-radius: 50% ;
}

.name_area{
    color:#919191;
    margin: 0 50px;
   /* font-size: 60px;*/
    padding-bottom: 20px;
    display: block;
    line-height: 1;
    text-align: center;
   
}

.btn{
    font-size: 100%;
    color: #919191;
    
    background-color: rgba(255,255,255,0.9);
    width: 25%;
    padding: 10px 0

}

.btn:hover{
 background-color: white;
    width: 35% !important;
    height: 25% !important;

}
div>*{
    font-family: "微软雅黑";
    text-align: center;
    
}
.btn_img{
    height: 60%;
    width: 100%;
}

.text_img{
    margin-right: 10px;
    margin-left: 10px;
border: 2px;
border-radius: 15px;
  }

.contact{

    bottom: 10px;
    right: 50%;
}

.bottom-bar{
    background-color: white;
    height: 40%;
    width: 80%;
    float: right;
}
.contact_test{
    width:100px;height:30px;line-height:30px;
    border-radius: 15px;
}
.text_img_hobby2{
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 25px;
}
.text_img_hobby1{
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 25px;
}
.contact_btn
{
    top:15%;
    left: 25%;
    background-color: #B0E0E6;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    font-size: 18px;
     font-family: "微软雅黑";
    text-align: center;
    color:  #919191;

    
}