body{
    background: url(../images/mobile_background2.jpg) ;
    background-attachment: fixed;
    background-size: cover;
    line-height: 1.7;
    background-repeat: no-repeat
}


.body > *{
    background-color: rgba(0,0,0,0.4);
    margin: 20px 3% 20px 6%;
    color: aliceblue;
    padding: 4px 4px;
    line-height: 1.5;
    font-size: 15px;
}



/* .navbar{
    margin-top: 30px;
    float: left;
    height: 100%;
    width: 20%;
    position: fixed;

} */

/* .navbar >*{

    padding-bottom: 80px;
    margin-bottom: 70px;
    width: 50%;
    height: 100%;
    display: block;
} */

/* .btn{

    color: aliceblue;
    background-color: rgba(0,0,0,0.4);
    text-align: center
} */
.btn_img{
    display: none
}
.text_img_1,
.text_img_hobby2,
.text_img_rew2{
    padding-top: 10%
}
.text_img_2,
.text_img_hobby1,

.text_img_rew1{
    display: none
}

.name_area{
    margin: 10px 50px;
    font-size: 60px;
    margin-bottom: 5px;
    display: block;
    line-height: 1;
    text-align: center
}
h3{
    font-size: 35px;
}

img{
    width: 30%;
    height: 30%;
}

.wrap1{
    /* top: 50%;
    left: 10%;
    position: relative;
    /* width: 25%; */
    /* width: 100px; */
    /* height: 25%; */
    /* height: 100px; */
    /* overflow: hidden;  */
    display: none
}

.wrap2{
    /* top: 65%; */
    /* left: 10%; */
    /* position: relative; */
    /* width: 450px; */
    /* width: 30%; */
    /* height: 180px; */
    /* height: 20%; */
    /* overflow: hidden; */
    display: none
}
.wrap3{
    /* top: 50%;
    left: 30%;
    position: relative; */
    /* width: 500px; */
    /* width: 35%; */
    /* height: 180px; */
    /* height: 20%;
    overflow: hidden; */
    display: none
}
.inner-wrap{
    margin-left: 120px;
    /* width: 330px; */
    width: 80%;
    /* height: 180px; */
    height: 100%;
    overflow: hidden;
    position: absolute;
}

.circle1{
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #E51C8B;

}
.circle2{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #47DBE4;

}
.circle3{
    position: absolute;

    top:0%;
    left: 0%;

    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #10CCB5;
}
.circle6{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #3594E6;
    display: inline;
}
.circle4{
    margin-left: 60px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #e6e5e1;
}
.circle5{
    margin-left: 180px;


    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #1EAAD0;
}

canvas{
    display: none
}

#img_ability{
    display: none
}

.skill_img{
    display: block;
    width:97%;

    margin-top: 15%
}