body{
    background: url(../images/mobile_background2.jpg) ;
    background-attachment: fixed;
    background-size: cover;
    line-height: 1.7;
    background-repeat: no-repeat
}


.body > *{
    background-color: rgba(0,0,0,0.4);
    margin: 20px 3% 20px 6%;
    color: aliceblue;
    padding: 4px 4px;
    line-height: 1.5;
    font-size: 15px;
}



/* .navbar{
    margin-top: 30px;
    float: left;
    height: 100%;
    width: 20%;
    position: fixed;

} */

/* .navbar >*{

    padding-bottom: 80px;
    margin-bottom: 70px;
    width: 50%;
    height: 100%;
    display: block;
} */

/* .btn{

    color: aliceblue;
    background-color: rgba(0,0,0,0.4);
    text-align: center
} */
.btn_img{
    display: none
}
.text_img_1,
.text_img_hobby2,
.text_img_rew2{
    padding-top: 30%
}
.text_img_2,
.text_img_hobby1,
.text_img_rew1{
    display: none
}
.name_area{
    margin: 10px 50px;
    font-size: 60px;
    margin-bottom: 5px;
    display: block;
    line-height: 1;
    text-align: center
}
h3{
    font-size: 35px;
}
.head_image{
    height: 200px;
    width:200px;
}